#displayer{
    font-size: 2vw;
}
body {
    background-color: teal;
    color: #FFF;
}
.backcolor {
    cursor: pointer;
    font-size: 1vw;
    border-radius: 0.5vw;
    border-color: white;
    color: #FFF;
    width: 4vw;
}
.ltcolor {
    cursor: pointer;
    font-size: 1vw;
    border-radius: 0.5vw;
    border-color: white;
    color: #FFF;
    width: 4vw;
}
.btncolor {
    cursor: pointer;
    font-size: 1vw;
    border-radius: 0.5vw;
    border-color: white;
    color: #FFF;
    width: 4vw;
}